@{
    ViewData["Title"] = "Account";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .user-info {
            display: flex;
            align-items: center;
        }

        .user-image {
            width: 50px;
            height: 50px;
            margin-bottom: auto;
            padding: 5px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
        }

        .user-details {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="user-info">
        <img class="user-image" src="@ViewBag.imagePath">
        <div class="user-details">
            <p>Login: @ViewBag.login</p>
            <p>Username: @ViewBag.username</p>
            <p>Age: @ViewBag.age</p>
            <p>Description : @ViewBag.description</p>
            <p>@ViewBag.contact</p>
            <p>Play game : @ViewBag.game</p>
        </div>
    </div>
</body>
</html>
